#wrapper{
   width: 100%;
   padding: 20px;
}

#my{
   height:500px;
   width:80%;
   margin:auto;
   display: grid;
   grid-template-columns:repeat(3,1fr) ;
   margin-top: 30px;
}
#bar{
    height:50px;
    width:15%;
    display: flex;
    justify-content:space-between;
    /* margin-left:150px; */
    margin-top: 20px;
}
#bar>#a>i{
   color: gray;
}
#a{
    color: #00AFEF;
    font-size: 16px;
    margin-left: 50px;
}
#b{
   font-size: 16px;
   color:grey
   
}
#container1 {
   width:90%;
   margin: auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
gap: 12px;
padding-top:50px ;
margin:auto;
}
.one{
 text-align:center;
border:"0.5px dotted rgb(223, 213, 213)";
padding-bottom: 10px;

}   
.btn{
 background-color:#6DA523 ;
 color:white;
 padding: 5px 5px 5px 5px;
 border-radius: 5px;
 font-size: 16px;
 border:0px
}
.pr{
 color:rgb(54, 49, 49);
 font-size: 24px;
 font-weight: bold;
}
.name{
 font-size: 16px;
 margin-left: 20px;
 margin-right: 20px;
 color:rgb(104, 99, 99)
}
.add{
   width: 80%;
   height: 50px;
background-color:white ;
   color: #00AFEF;
   border: 1px solid rgb(221, 209, 209);
   border-radius: 0px;
   margin-top: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.add:hover{
 background-color:#00AFEF; 
 color:white;
}
.c{
 margin:auto;
 margin-top: -20px;
 text-align: center;
 font-size: 18px;
}

.prod{
   display: flex;
   width:900px;
   margin-left:120px;
   justify-content: space-around;
   
   }
   .prod>.p1{
   border-radius:20px;
   border:0.5px solid rgb(201, 195, 195);
   height: 40px;
   width:250px;
   color:rgb(90, 85, 85);
   margin-bottom:20px;
   background-color: white;
   margin-left: 20px;
   font-size: 17px;
   font-weight: bold;
   padding:80px,20px, 80px, 20px;
   text-align: center;
   
   
   }

   /* footer start */
   .footer-box-low{
      position: relative;
      width:80%;
    margin: auto;
      
  }
  .col-rig{
      position:absolute;
      margin-left:70%;
      width: 200px;
      height: 250px;
    
     
  }
  
  .footer__div {
    /* width: 400px; */
    position: relative;
  }
  .payment {
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width:80%;
    margin: auto;
  
  }
  .lpay {
    flex-basis: 45%;
    margin: 2%;
    display: flex;
    flex-direction: column;
  }
  .lpay > h4 {
    font-size: 18px;
    margin-left: 3%;
  }
  .lpay > p > img {
    width: 3%;
    margin-left: 3%;
  }
  .lpay > div > img {
    width:100px;
    margin-left: 1%;
    height: 40px;
  
  }
  .lpay > div > img:nth-child(1) {
    margin-left: 3%;
  }
  .rpay {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
  }
  .rpay > div {
    margin: 2%;
    font-size: 12px;
  }
  .rpay > div > img {
    width:70px;
    margin:20px,20px,20px,20px;
    height:40px;
  }
  .rpay > div:nth-child(2) > img {
    width: 68%;
    margin: 22% 0 0 7%;
  }
  .rpay > div:nth-child(2) {
    margin-left: -2%;
  }
  .rpay > div:nth-child(1) {
    margin-left: 8%;
  }
  .rpay > div:nth-child(3) > img {
    width: 62%;
    margin: 24% 0 2% 22%;
  }
  
  .shiping {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    text-align: center;
    border: 1px solid #ddd;
    width:80%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    /* border: 1px solid red; */
    
  }
  .shipright > button {
    background-color: white;
    color: #00afef;
    border: 1px solid #00afef;
    margin: 2%;
    width: 160px;
    height: 40px;
    border-radius: 5px;
  }
  .shipleft>img{
      height:40px;
      width:40px;
  }
  .shipmid>img{
      height:40px;
      width:40px;
  }
   /* footer end */

/* ************ */


