
*{

    margin: 0;
   padding: 0;
 }
 
 /* dyanamic part start */
 body{
   background: white;
 
 }
 
 
 /* navabar start */
 #navbar {
 display: flex;
 justify-content: space-evenly;
 background-color: white;
 padding: 10px;
 
 }
 a {
 text-decoration: none;
 color: #483b3b;
 
 }
 /* 
 #navbar a:hover {
 color: rgb(26, 179, 26);
 } */
 #navbar a {
 cursor: pointer;
 }
 
 /* navbar till */
 
 
 /* box append s */
 #box{
    width:80%;
    margin:auto;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: auto;
 gap: 10px;
 
 
 }
 
 #box>div{
 height: auto;
 width: 95%;
 /* border: 1px solid black; */
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 margin: auto;
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 box-sizing: border-box;
 border-radius: 5px;
 padding: 15px;
 
 
 }
 #box>div>p{
   text-align: center;
   font-size: 14px;
 }
 
 #box>div>img{
 height: 70%;
 width: 100%;
 /* border: 1px solid black; */
 background-color: white;
 }
 
 
 .btn{
 margin-left: 2.5%;
 height: 40px;
 width: 95%;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 font-size: 20px;
 font-weight: bold;
 color :#00AFEF;
 }
 .btn:hover{
 background-color: rgb(67, 202, 255);
 color: white;
 size: inherit;
 }
 
 
 
 
 #box>div>div>h3{
   font-size: 18px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 
 .bag{
 height: 5%;
 width: 20%;
 border-radius: 15%;
 margin: auto;
 background-color: rgb(16, 182, 16);
 }
 
 
 
 /* selecttag */
 #sortprice{
 height: 40px;
 width: 30%;
 padding: auto;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 margin-top: 25px;
 margin-left: 65%;
 overflow: hidden;
 border-radius: 2%;
 box-sizing: border-box;
 }
 
 
 /* LOADMORE */
 
 .loadmore{
 height: 100px;
 width: 20%;
 border: 1px solid 0.5px;
 margin: auto;
 text-align: center;
 padding: auto;
 margin-top: 50px;
 }
 
 .loadmore>div{
 height: auto;
 width: 60%;
 border: 1px solid black;
 text-align: center;
 background-color: rgb(60, 190, 241);
 
 }
 
 /* .loadmore>div:hover{
 background-color: rgb(51, 166, 211);
 } */
 .loadmore>div>h4{
 color: white;
 text-align: center;
 
 /* margin: auto; */
 margin-top: 10px;
 }
 .loadmore>div>h4:hover{
 color: green;
 }
 
 /* mediaquery */
 
 
 @media all and (min-width: 401px) and (max-width: 720px){
 #box{
  grid-template-columns: repeat(2,1fr);
 }
 #navbar{
  /* display: flex; */
  flex-direction: row;
 }
 }
 
 @media all and (min-width: 80px) and (max-width: 400px){
 #box{
  grid-template-columns: repeat(1,1fr);
 }
 #navbar{
  /* display: flex; */
  flex-direction: column;
 }
 }
 
 .rating{
   height: 30px;
    width: 20%;
   margin: auto;
   background-color: #00AFEF;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
  background-color:  rgb(16, 182, 16);
 }
 