
/* body from our products */
#container{
        
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: auto;
    gap:20px;
    width:60%;
     margin-left: 140px;
  


}
#container>div{
   
   
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   padding:10px;
   padding-bottom: 10px;
   width:350px;
   height:500px;
   
}
img{
    height: 280px;
    width: 100%;
  
}
.btn{
    display: block;
    text-align: center;
    width:320px;
    height: 40px;
    background-color: white;
    border:0.5px solid rgb(201, 195, 195);
    color:#02baf2 ;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
   font-family: 'Open Sans', sans-serif;
 font-family: 'Poppins', sans-serif; 

font-weight: bolder;
}
.btn:hover{
    background-color:#02baf2 ;
    color:white;
    border: none;
}
p{
    text-align: center;
    font-size: 14px;
    color:rgb(90, 85, 85);
 

font-family: 'Poppins', sans-serif;    
}
#container>div>div{
    margin:auto;
   margin-left: 140px;
   height: 30px;
   width: 60px;
   background-color: #6da523;
   color: white;
   text-align: center;
   border-radius:5px;
   padding:5px;
}
h3{
    text-align: center;
     color:rgb(37, 34, 34);
   
   

}
h2{
  margin-left:140px;
  font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 



}
.prod{
display: flex;
width:900px;
margin-left:120px;
justify-content: space-around;

}
.prod>.p1{
border-radius:20px;
border:0.5px solid rgb(201, 195, 195);
height: 40px;
width:250px;
color:rgb(90, 85, 85);
margin-bottom:20px;
background-color: white;
margin-left: 20px;
font-size: 17px;
font-weight: bold;
padding:80px,20px, 80px, 20px;
text-align: center;


}
.p1:hover{
color:#02baf2;
border:0.5px solid #02baf2 ;

}
.faqs::after{
    
  
    content: "";
    height: 0.15rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(147, 147, 147) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;


}
.faqs{
    width:240px;
    height: 100px;
    text-align: center;
    display: block;
    background-color:white;
    font-size:28px;
    font-weight: bold;
    color:black;
    font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
box-shadow: #717171;

margin:auto;
}
.h_bodycare{
    display: flex;
    font-size: 16px;
    margin-top: 20px;
    
}
.active{
    color: #00afef;
}
#bpara{
    font-size: 18px;
    margin-left: 20px;
    color:#5c5c5c;

}

/* end div */
#end{
   
    margin: 0px;
    line-height: 1.62;
    background-color: whitesmoke;
    /* color: rgb(119, 119, 119); */
    font-family: Lato;
    margin-left: 40px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
   margin-top: 20px;
    
    
}
#end>h1{
    /* color:#777777 */
    padding: 10px;
      color: rgb(119, 119, 119);
      /* background-color: rgb(255, 255, 255); */
      font-size:30px;
}
#end>p{
    font-size: 18px;
    padding: 10px;
    line-height: 1.62;
    /* background-color: rgb(255, 255, 255); */
    color: rgb(119, 119, 119);
    font-family: Lato;
    text-align: justify;
}
 /*footer part  */
 .footer-box-low{
    position: relative;
    width:80%;
  margin: auto;
    
}
.col-rig{
    position:absolute;
    margin-left:70%;
    width: 200px;
    height: 250px;
  
   
}

.footer__div {
  /* width: 400px; */
  position: relative;
}
.payment {
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width:80%;
  margin: auto;
}
.lpay {
  flex-basis: 45%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.lpay > h4 {
  font-size: 18px;
  margin-left: 3%;
}
.lpay > p > img {
  width: 3%;
  margin-left: 3%;
}
.lpay > div > img {
  width:100px;
  margin-left: 1%;
  height: 40px;

}
.lpay > div > img:nth-child(1) {
  margin-left: 3%;
}
.rpay {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}
.rpay > div {
  margin: 2%;
  font-size: 12px;
}
.rpay > div > img {
  width:70px;
  margin:20px,20px,20px,20px;
  height:40px;
}
.rpay > div:nth-child(2) > img {
  width: 68%;
  margin: 22% 0 0 7%;
}
.rpay > div:nth-child(2) {
  margin-left: -2%;
}
.rpay > div:nth-child(1) {
  margin-left: 8%;
}
.rpay > div:nth-child(3) > img {
  width: 62%;
  margin: 24% 0 2% 22%;
}

.shiping {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  text-align: center;
  border: 1px solid #ddd;
  width:80%;
  margin: auto;
  padding: 20px;
  
  
}
.shipright > button {
  background-color: white;
  color: #00afef;
  border: 1px solid #00afef;
  margin: 2%;
  width: 160px;
  height: 40px;
  border-radius: 5px;
}
.shipleft>img{
    height:40px;
    width:40px;
}
.shipmid>img{
    height:40px;
    width:40px;
}
/* footer end */

   
   