#center{
   
    width: 90%;
    display: flex;
    padding-left: 100px;
    margin: auto;
    margin-top: 15px;
    /* */
 }
 #centerLeft{
    width: 55%;
    height: auto;
    padding-bottom: 50px;
    padding-left: 20px;
    border: 1px solid lightgray; 
 }
 #centerLeft>#instruction{
    padding-top: 20px;
    display: flex;
    font-size: 18px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
 }
 #centerLeft>#instruction>#button{
    width: 130px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #00afef ;
    background-color: white;
    color: #00afef;
    font-size: 15px;
    cursor: pointer;
 }
 #centerLeft>#instruction>#button:hover{
    color: white;
    background-color: #00afef;
 }
 
 #delAddress{
    width: 99%;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
 }
 #delAddress>div{
    padding-top:20px ;
 }
 #delAddress>div>.name{
    width: 48%;
    height: 40px;
    font-size: 16px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
 }
 #delAddress>div>.contact{
    width: 48%;
    height: 40px;
    font-size: 16px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
 }
 #delAddress>div>.pcs{
    width: 31.5%;
    height: 40px;
    font-size: 16px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
 }
 #delAddress>div>#address{
    width: 97.4%;
    height: 40px;
    font-size: 16px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
 }
 #typeAddress{
    width: 40%;
    padding-top: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: gray;
 }
 #typeAddress>div{
     padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 }
 #typeAddress>div>div{
     height: 40px;
     width: 30%;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: gray;
    cursor: pointer;
 
 
 }
 #paymentMethod{
     padding-top: 40px;
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
 }
 #pMethod{
     width: 30%;
     padding-top: 5px;
     margin-top: 15px;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: auto;
     border-radius: 5px;
 }
 #pMethod>div{
     border: 1px solid  lightgray;
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     align-items: center;
 
 }
 #pMethod>div>input{
     width: 30px;
     height: 30px;
 }
 #pMethod>#upi{
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 
 }
 #pMethod>#cod{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 
 }
 
 #centerRight{
    width: 44%;
    height: 500px;
    border: 1px solid lightgray; 
 }


 