#box1{
    height:550px;
    width:100%;
    margin:auto;
    text-align: center;
    margin-top: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
#box1>img{
    width:100%;
    height:550px;
    
}
#box2{
    width:80%;
display :flex;
justify-content: space-between;
margin :auto;
margin-top: 60px;
}
#box2>div>h1{
    font-weight: 400;
    font-size: 35px;
}
#box2>div>iframe{
 width:200%;
 height:420px;
 border:25px solid #82C341;
 border-radius: 15px;
}
#box2>div{
    display:flex;
    flex-direction:column ;
    text-align: center;
    
}
#box2>div>input{
    font-size: 18px;
    height:50px;
    padding-left: 10PX;
    margin-top: 20px;
    border:0.5px solid rgb(238, 226, 226)
}
#box2>div>button{
    font-size: 20px;
    height:60px;
    margin-top:30px ;
    background-color:#00AFEF ;
    color:white;
    border:0px;
    border-radius:5px ;
}
.line{
    
        width:280px;
        height: 150px;
    margin-top: 30px;
        display: block;
        background-color:white;
        font-size:42px;
        font-weight: lighter;
        color:rgb(15, 0, 0);
        font-family: roboto;
 
     
    
    

}
.line::after{
    
  
    content: "";
    height: 0.15rem;
    background: linear-gradient(to right, rgba(41, 7, 7, 0) 0%, rgb(41, 29, 29) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
    margin-bottom: 0.1rem;
    margin-top: 2rem;


}
#our{
    display:flex;
    width:100%;
    justify-content: space-between;
    
    margin-top: -50px;
}
#our>p{
    width:80%;
    font-size: 25px;
    font-weight: 300;
    color: rgb(78, 72, 72);
}
#box3{
    margin :auto;
    width:80%;

    margin-top:30px
}
#box3>h1{
    font-size: 40px;
}
#our>div{
    border:0px;
    height:130px;
    width:20%;
    text-align: center;
    background-color:#82C341;
    border-radius:20px ;
    padding-left:20px ;
    
}
#our>div>h2{
    font-size: 40px;
    font-weight: 300;
    color:white;
    margin-top:20px ;
}
#our>div>p{
    font-size: 25px;
    
    color:white
}
#box4{
height:400px;
width:80%;
margin:auto;


}
#a{
    display:flex
}
#a>div>p{
    font-size:25px ;
    color: rgb(78, 72, 72);
}
#b{
    display:flex;
    width:40%;
    justify-content: space-around;
}
#b>div>img{
    height:40%
}
#box5{
    width:80%;
    height:500px;
    margin:auto
}
#c{
    display:flex;
    justify-content:space-between;

}
#c>div>p{
    font-size:25px ;
    color: rgb(78, 72, 72);
    width:115%
}
#d{
    width:40%;
    padding-left: 100px;
    text-align: center;
}
#d>img{
    height:50%;
    margin-top:40px ;
}
#box6{
    width:80%;
    margin:auto;
    
    height:580px
}
#box6>.line{
    margin :auto;
    width:30%
}
#s{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: space-around;

    height:430px

}
#s>div>img{
    height:430px;
    border:1px solid rgb(26, 22, 22);
    border-radius: 47px;
}

  /* footer start */
  .footer-box-low{
    position: relative;
    width:80%;
  margin: auto;
    
}
.col-rig{
    position:absolute;
    margin-left:70%;
    width: 200px;
    height: 250px;
  
   
}

.footer__div {
  /* width: 400px; */
  position: relative;
}
.payment {
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width:80%;
  margin: auto;

}
.lpay {
  flex-basis: 45%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.lpay > h4 {
  font-size: 18px;
  margin-left: 3%;
}
.lpay > p > img {
  width: 3%;
  margin-left: 3%;
}
.lpay > div > img {
  width:100px;
  margin-left: 1%;
  height: 40px;

}
.lpay > div > img:nth-child(1) {
  margin-left: 3%;
}
.rpay {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}
.rpay > div {
  margin: 2%;
  font-size: 12px;
}
.rpay > div > img {
  width:70px;
  margin:20px,20px,20px,20px;
  height:40px;
}
.rpay > div:nth-child(2) > img {
  width: 68%;
  margin: 22% 0 0 7%;
}
.rpay > div:nth-child(2) {
  margin-left: -2%;
}
.rpay > div:nth-child(1) {
  margin-left: 8%;
}
.rpay > div:nth-child(3) > img {
  width: 62%;
  margin: 24% 0 2% 22%;
}

.shiping {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  text-align: center;
  border: 1px solid #ddd;
  width:80%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  /* border: 1px solid red; */
  
}
.shipright > button {
  background-color: white;
  color: #00afef;
  border: 1px solid #00afef;
  margin: 2%;
  width: 160px;
  height: 40px;
  border-radius: 5px;
}
.shipleft>img{
    height:40px;
    width:40px;
}
.shipmid>img{
    height:40px;
    width:40px;
}
  /* footer end */
